<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>EP2023</title>
</head>
<body>
    <h1>Proof of Concept EP2023</h1>
    <p1><button id = 'btnCreate'>Sitzung erstellen</button></p1><br><br><br>
    <input type = 'text' placeholder="Nutzername" id = 'txtNameId'>
    <input type = 'text' placeholder="SessionId" id = 'txtSessionId'>
    <button id = 'btnJoin'>Spiel beitretten</button></p2>
</body>
<script>
    let clientId = null;
    let sessionId = null;

    let ws = new WebSocket("ws://localhost:8003")

    const btnJoin = document.getElementById("btnJoin");
    const txtSessionId = document.getElementById("txtSessionId");
    const btnCreate = document.getElementById("btnCreate");
    const nutzername = document.getElementById("txtNameId");

    //Button für die Erstellung einer Sitzung
    btnCreate.addEventListener("click", e =>{

        const payLoad = {
            "method": "create",
            "clientId": clientId
        }

        ws.send(JSON.stringify(payLoad));
    })


    btnJoin.addEventListener("click", e =>{

    
    sessionId = txtSessionId.value

    const payLoad = {
        "method": "join",
        "clientId": clientId,
        "sessionId": sessionId,
        "nutzername" : nutzername.value
    }
    ws.send(JSON.stringify(payLoad));


    })


    ws.onmessage = message => {
        const response = JSON.parse(message.data);
        
        if(response.method === "connect"){
            clientId = response.clientId;
            //Client Id ausgeben
            console.log(clientId)
        }

        if (response.method === "create"){
            sessionId = response.session.id

            console.log("Das ist meine SessionId",sessionId)
        }

        if (response.method === "join"){
            response.session.clients.forEach(element => {
                console.log(element.nutzername)
            });   
        }

        if (response.method === "error"){
            console.log(response.message) 
        }

    }
</script>
</html>
