html,body {
    height: auto;
    min-height: 100vh;
    margin : 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(180deg, #76f1f1 0%, #4c88bd 60%);
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 8rem;
    border: none;
    border-radius: 5px;
}


/* <-----  Headerbar  -----> */
.headerbar{
    display: flex;
    height: 4rem;
    background-color: black;
    align-items: center;
    justify-content: space-between;

}

.headerbar button {
    background: linear-gradient(180deg, #76F1F1 0%, #4C88BD 100%);
    border: none;
    color: black;
    font-size: 13px;
    align-items: center;
    font-weight: 600;
    border-radius: 8px;
    width: 4rem;
    height: 2rem;
}

.headerleft{
    display: flex;
    gap: 0.5rem;
    margin-left: 2rem;
    width: 30rem;
}

.logo{
    display: flex;
    max-height: 4rem;
}

.headerright{
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
    width: 30rem;
    justify-content: end;
}

.session_tag{
    display: flex;
    align-items: center; 
    color: white;
    height: 2rem;
}

.session_tag h2{
    text-align: center; 
    font-size: 15px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

.headerbar .file{
    color: black;
    font-size: 18px;
}


/* <-----  Paintbar  -----> */
.paintbar{
    display: flex;
    width: 60vw;
    height: 2.5rem;
    background: rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: space-between;
}

.paintbar button{
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.paintbarleft{
    display: flex;
    margin-left: 1rem;
    gap: 0.5rem;
}

.paintbarright{
    display: flex;
    margin-right: 1rem;
    gap: 0.5rem;
}

.undoclear{
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 10px;
    background: black;
}

.colorChange{
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 10px;
}


/* <-----  Canvas & Paintbar Section  -----> */
.main{
    display: flex;
    justify-content: center;
    position: relative;
}

#div_users{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 2rem;
    margin-top: 5rem;
    font-size: 20px;
    font-weight: 700;
}

.image_html_section {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

[data-value="has_joined"] {
    display: flex;
  }

/* <-----  Canvas  -----> */
canvas {
    border: 1px solid black;
    background-position: center;
    overflow: auto;
    width: 60vw;
    margin-bottom: 10vh;
}


/* <-----  Input Range Style  -----> */
/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 8rem;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  

  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #4c88bd;
    border-radius: 1rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -8px; /* Centers thumb on the track */
    background-color: #76f1f1;
    border-radius: 0.5rem;
    height: 1.5rem;
    width: 0.8rem;
  }
  
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #4c88bd;
    border-radius: 1rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #76f1f1;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1.5rem;
    width: 0.8rem;
  }
  