body {
    background-color: rgb(223, 210, 183);
}

.headline h1 {
    display: flex;
    justify-content: center;
}

.field_container .create_button {
    margin-bottom: 1rem;
}

.join_options{
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.field_container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
