<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/components.css">
    <script src="https://kit.fontawesome.com/afe490e8d5.js" crossorigin="anonymous"></script>
    

    <title>EP2023</title>
</head>
<body>
    <div class="headerbar">
        <div class="headerleft">
            <input type = "text" placeholder="Nutzername" id = "txtNameId">
            <input type = "text" placeholder="SessionId" id = "txtSessionId">
            <button id = "btnJoin">Join</button>
            <button id = "btnCreate">New Session</button>
        </div>
        <div>
            <!--<h1>EP2023</h1>-->
            <img class="logo" src="/images/logo.png">
        </div>
        <div class="headerright">
            <div class="session_tag" id="join_code"></div>
            <div class="upload-btn-wrapper">
            <button class="file"><i class="fa-solid fa-upload"></i></button>
            <input  type="file" id="image_input" accept="image/png, image/jpg">
            </div>
        </div>
    </div>
    <div class="main" id="main">
        <div id="div_users"></div>
        <div class="image_html_section" id="imageHtmlSection">
            <div class="paintbar">
            <!--Lösch-Funktion für alle erstellte Zeichnungen-->
                <div class="paintbarleft">
                <button onclick="javascript:undo();return false;" class="undoclear"><i class="fa-solid fa-rotate-left"></i></button>
                <button onclick="javascript:clearArea();return false;" class="undoclear"><i class="fa-solid fa-trash-can"></i></button>
                </div>
                <div>
                <input type="range" min="2" max="30" id="pen_range" onInput="draw_with = this.value"> 
                </div>
                <div class="paintbarright">
                <button onClick=change_color(this) class="colorChange" style="background: white;"></button>
                <button onClick=change_color(this) class="colorChange" style="background: black;"></button>
                <button onClick=change_color(this) class="colorChange" style="background: grey;"></button>    
                <button onClick=change_color(this) class="colorChange"  style="background: red;"></button>
                <button onClick=change_color(this) class="colorChange"  style="background: blue;"></button>
                <button onClick=change_color(this) class="colorChange"  style="background: green;"></button>
                <button onClick=change_color(this) class="colorChange" style="background: yellow;"></button>
                </div>

            <!--Farbauswahl für das Zeichnen-->
            <!--Color : <select id="selColor">
                <option value="black">black</option>
                <option value="blue" selected="selected">blue</option>
                <option value="red">red</option>
                <option value="green">green</option>
                <option value="yellow">yellow</option>
                <option value="gray">gray</option>
                <option value="white">white</option>
            </select>-->
            </div>
        <canvas id="imageCanvas"></canvas>
        <!--<img src="" id="display_image"></img>-->
        </div>
    </div>
</body>
<script src="js/client.js"></script>
</html>
